<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon//favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Header</title>
</head>

<body>
    <div class="content">
        <section class="section-bg-primary">
            <p>
                Toby has been leaving radon test kits everywhere like he owns the place. The first time I threw mine
                away I thought it was an ant trap. But I figured I'd rather live with ants than with this creepy little
                disc. The second time, I thought it was one of those, you know, the things you turn over and it moo's
                like a cow thing but upon closer examination it was another ant trap so I threw it away. And the third
                time, I did it out of spite.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                Nobody steals from Creed Bratton and gets away with it. The last person to do this disappeared. His
                name? Creed Bratton

                One day Michael came in, complaining about a speed bump, on the highway... I wonder who he ran over
                then.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                In Japan, heart surgeon. Number one. Steady hand. One day, yakuza boss need new heart. I do operation.
                But, mistake! Yakuza boss die. Yakuza very mad. I hide in fishing boat, come to America. No English, no
                food, no money. Darryl give me job. Now I have house, American car, and new woman. Darryl save life. My
                big secret: I kill yakuza boss on purpose. I good surgeon. The best!

                We had a foreign exchange student when I was young. And, we called him my brother, and that's what I
                thought he was. Um, then he went home to what is formerly Yugoslavia, taking all of my blue jeans, with
                him. And I had to spend the entire winter in shorts. That is what Ryan is like: A fake brother who
                steals your jeans.

                Yes, I've heard 'women and children first', but we do not employ children. We are not a sweatshop,
                thankfully. And women are equal in the workplace, by law, so if I let them out first... I have a lawsuit
                on my hands.

                Today is Thursday, and Dwight thinks it's Friday, and that's what I'll be working on this afternoon.

                Business to business. The old fashion way. No blackberries. No websites. I would like to see a website
                deliver baskets of food to people.

                Studies have shown that more information gets passed through watercooler gossip than through official
                memos - which puts me at a disadvantage because... I bring my own water to work.

                OK. Who put my calculator in Jell-O? Good one. But uh, seriously, guys who did this? Seriously guys, who
                did this? I need to know who put my calculator in Jell-O, or I'm gonna lose my freaking mind!

                I am not offended by homosexuality. In the sixties I made love to many, many women, often outdoors in
                the mud and rain. It's possible a man could've slipped in there. There'd be no way of knowing.
            </p>
        </section>
        <section class="section-bg-secondary">
            <p>
                Toby has been leaving radon test kits everywhere like he owns the place. The first time I threw mine
                away I thought it was an ant trap. But I figured I'd rather live with ants than with this creepy little
                disc. The second time, I thought it was one of those, you know, the things you turn over and it moo's
                like a cow thing but upon closer examination it was another ant trap so I threw it away. And the third
                time, I did it out of spite.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                Nobody steals from Creed Bratton and gets away with it. The last person to do this disappeared. His
                name? Creed Bratton

                One day Michael came in, complaining about a speed bump, on the highway... I wonder who he ran over
                then.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                In Japan, heart surgeon. Number one. Steady hand. One day, yakuza boss need new heart. I do operation.
                But, mistake! Yakuza boss die. Yakuza very mad. I hide in fishing boat, come to America. No English, no
                food, no money. Darryl give me job. Now I have house, American car, and new woman. Darryl save life. My
                big secret: I kill yakuza boss on purpose. I good surgeon. The best!

                We had a foreign exchange student when I was young. And, we called him my brother, and that's what I
                thought he was. Um, then he went home to what is formerly Yugoslavia, taking all of my blue jeans, with
                him. And I had to spend the entire winter in shorts. That is what Ryan is like: A fake brother who
                steals your jeans.

                Yes, I've heard 'women and children first', but we do not employ children. We are not a sweatshop,
                thankfully. And women are equal in the workplace, by law, so if I let them out first... I have a lawsuit
                on my hands.

                Today is Thursday, and Dwight thinks it's Friday, and that's what I'll be working on this afternoon.

                Business to business. The old fashion way. No blackberries. No websites. I would like to see a website
                deliver baskets of food to people.

                Studies have shown that more information gets passed through watercooler gossip than through official
                memos - which puts me at a disadvantage because... I bring my own water to work.

                OK. Who put my calculator in Jell-O? Good one. But uh, seriously, guys who did this? Seriously guys, who
                did this? I need to know who put my calculator in Jell-O, or I'm gonna lose my freaking mind!

                I am not offended by homosexuality. In the sixties I made love to many, many women, often outdoors in
                the mud and rain. It's possible a man could've slipped in there. There'd be no way of knowing.
            </p>
        </section>
        <section class="section-bg-light">
            <p>
                Toby has been leaving radon test kits everywhere like he owns the place. The first time I threw mine
                away I thought it was an ant trap. But I figured I'd rather live with ants than with this creepy little
                disc. The second time, I thought it was one of those, you know, the things you turn over and it moo's
                like a cow thing but upon closer examination it was another ant trap so I threw it away. And the third
                time, I did it out of spite.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                Nobody steals from Creed Bratton and gets away with it. The last person to do this disappeared. His
                name? Creed Bratton

                One day Michael came in, complaining about a speed bump, on the highway... I wonder who he ran over
                then.

                Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically, you make
                someone think the opposite of what you believe. And that tricks them into doing something stupid. Works
                like a charm.

                In Japan, heart surgeon. Number one. Steady hand. One day, yakuza boss need new heart. I do operation.
                But, mistake! Yakuza boss die. Yakuza very mad. I hide in fishing boat, come to America. No English, no
                food, no money. Darryl give me job. Now I have house, American car, and new woman. Darryl save life. My
                big secret: I kill yakuza boss on purpose. I good surgeon. The best!

                We had a foreign exchange student when I was young. And, we called him my brother, and that's what I
                thought he was. Um, then he went home to what is formerly Yugoslavia, taking all of my blue jeans, with
                him. And I had to spend the entire winter in shorts. That is what Ryan is like: A fake brother who
                steals your jeans.

                Yes, I've heard 'women and children first', but we do not employ children. We are not a sweatshop,
                thankfully. And women are equal in the workplace, by law, so if I let them out first... I have a lawsuit
                on my hands.

                Today is Thursday, and Dwight thinks it's Friday, and that's what I'll be working on this afternoon.

                Business to business. The old fashion way. No blackberries. No websites. I would like to see a website
                deliver baskets of food to people.

                Studies have shown that more information gets passed through watercooler gossip than through official
                memos - which puts me at a disadvantage because... I bring my own water to work.

                OK. Who put my calculator in Jell-O? Good one. But uh, seriously, guys who did this? Seriously guys, who
                did this? I need to know who put my calculator in Jell-O, or I'm gonna lose my freaking mind!

                I am not offended by homosexuality. In the sixties I made love to many, many women, often outdoors in
                the mud and rain. It's possible a man could've slipped in there. There'd be no way of knowing.
            </p>
        </section>

    </div>
</body>

</html>